/**Ovo je stil od galerija slika - slika**/

body{
	margin: 100px 180px;
	background-image: url("../../slike/nebo2.jpg");
	background-color: black;
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: white;
	font-family: georgia;
	}
	
.home{
	position: fixed;
	top: 2%;
	left: 15%;
	width: 8%;
	height: 4%;
	}
	
.price{
	position: fixed;
	top: 2%;
	left: 30%;
	width: 8%;
	height: 4%;
	}
	
.slike{
	position: fixed;
	top: 2%;
	left: 45%;
	width: 8%;
	height: 4%;
	}
	
.video{
	position: fixed;
	top: 2%;
	left: 60%;
	width: 8%;
	height: 4%;
	}
	
.citati{
	position: fixed;
	top: 2%;
	left: 75%;
	width: 8%;
	height: 4%;
	}
	
.undo{
	position: fixed;
	top: 2%;
	left: 3%;
	height: 4%;
	width: auto;
	}
	
.pozadina{
	width: 100%;
	left:0;
	position: fixed;
	top:1%;
	height: 6%;
	background-color: black;
	opacity: 0.9;
	}
	
.galerija{
	position: relative;
	width:50%;
	height:auto;
	left: 23%;
	}
	
.trash{
	position: absolute;
	right: 2%;
	bottom: 2%;
	width: 4%;
	height: auto;
	}		