/**Ovo je stil videa**/

body{
	margin: 85px 180px;
	background-image: url("../slike/nebo2.jpg");
	background-color: black;
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
	}
	
h1{
	font-family: georgia;
	font-size: 45px;
	text-align: center;
	color: white;
	padding-bottom: 80px;
	padding-top: 40px;
	}
	
.home{
	position: fixed;
	top: 2%;
	left: 15%;
	width: 8%;
	height: 4%;
	}
	
.price{
	position: fixed;
	top: 2%;
	left: 30%;
	width: 8%;
	height: 4%;
	}
	
.slike{
	position: fixed;
	top: 2%;
	left: 45%;
	width: 8%;
	height: 4%;
	}
	
.video{
	position: fixed;
	top: 2%;
	left: 60%;
	width: 8%;
	height: 4%;
	}
	
.citati{
	position: fixed;
	top: 2%;
	left: 75%;
	width: 8%;
	height: 4%;
	}
	
.pozadina{
	width: 100%;
	left:0;
	position: fixed;
	top:1%;
	height: 6%;
	background-color: black;
	opacity: 0.9;
	}

table{
	width: 960px;
	padding: 30px;
	border-collapse: collapse;
	}
	
.naslov{
	color:white;
	font-size: 35px;
	font-family: georgia;
	font-weight: bold;
	text-align: center;
	padding-bottom:10px;
	border-bottom: 5px double white;
	border-top: 5px double white;
	}
	
.tekst{
	color:white;
	font-family: georgia;
	font-size: 18px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
.youtube{
	padding-bottom: 50px;
	}
	
.zadnji{
	border-bottom: 5px double white;
	}
	
	.trash{
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 2%;
	height: auto;
	}
	
	
	